@model CommonLayer.Model.BookModel

@{
    ViewData["Title"] = "AddBook";
}

<h1>AddBook</h1>

<h4>BookModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddBook">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group">
                <label asp-for="BookID" class="control-label"></label>
                <input asp-for="BookID" class="form-control" />
                <span asp-validation-for="BookID" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="BookName" class="control-label"></label>
                <input asp-for="BookName" class="form-control" />
                <span asp-validation-for="BookName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorName" class="control-label"></label>
                <input asp-for="AuthorName" class="form-control" />
                <span asp-validation-for="AuthorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookTotalRating" class="control-label"></label>
                <input asp-for="BookTotalRating" class="form-control" />
                <span asp-validation-for="BookTotalRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPeopleRated" class="control-label"></label>
                <input asp-for="TotalPeopleRated" class="form-control" />
                <span asp-validation-for="TotalPeopleRated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountPrice" class="control-label"></label>
                <input asp-for="DiscountPrice" class="form-control" />
                <span asp-validation-for="DiscountPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OriginalPrice" class="control-label"></label>
                <input asp-for="OriginalPrice" class="form-control" />
                <span asp-validation-for="OriginalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookDescription" class="control-label"></label>
                <input asp-for="BookDescription" class="form-control" />
                <span asp-validation-for="BookDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookImage" class="control-label"></label>
                <input asp-for="BookImage" class="form-control" />
                <span asp-validation-for="BookImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookQuantity" class="control-label"></label>
                <input asp-for="BookQuantity" class="form-control" />
                <span asp-validation-for="BookQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
