@model CommonLayer.Model.LoginModel

@{
    ViewData["Title"] = "Login";
}

<h4>Login To Your Account</h4>

<hr />
<div class="row">
    <div class="col-md-4 main-content">
        <div class="img-sec">
			<img src="~/assets/2766594.png" width="200px" />
        </div>
        <form asp-action="Login" class="form-content">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserEmail" class="control-label"></label>
                <input asp-for="UserEmail" class="form-control" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserPassword" class="control-label"></label>
                <input asp-for="UserPassword" class="form-control" />
                <span asp-validation-for="UserPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
                <a asp-controller="User" asp-action="Register">SignUp</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@* <link href="~/css/index.css" rel="stylesheet" /> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
